# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Environment variables
.env

# IDE
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/